{% extends "lab_8/layout/base.html" %}
{% block content %}
<section>
    <div style="margin-left: 500px; margin-top: 190px"> 
    	<h1>Welcome to Facebook</h1>
    </div>
    	<div class="container" id="lab8">
    		<button class="btn btn-primary" id="login" onclick="facebookLogin()">Sign in with Facebook</button>
		</div>
</section>
{% endblock %}
